.footer1 {
  width: 1333px;
  height: 80px;
  background: #f8f9ff 0% 0% no-repeat padding-box;
  box-shadow: 0px -3px 6px #0000000b;
  opacity: 1;
  background-color: #f8f9ff;
}

.footer1_title {
  margin-top: 13px;
  margin-left: 463px;
  width: 519px;
  height: 33px;
  /* UI Properties */
  text-align: left;
  font: normal normal 600 24px/26px Open Sans;
  letter-spacing: 0.96px;
  color: #5861ae;
  opacity: 1;
}

.footer1_message {
  margin-top: 13px;
  margin-left: 613px;
  width: 183px;
  height: 14px;
  text-align: left;
  font: italic normal normal 10px/26px Open Sans;
  letter-spacing: 0.4px;
  color: #3d3d43;
  opacity: 1;
}
