.footer3 {
  margin-top: 140px;
  margin-left: 670px;
  width: 30px;
  height: 16px;
  text-align: center;
  font: normal normal normal 12px/24px Avenir;
  letter-spacing: 0.12px;
  color: #ffffff;
}
