.footer3 {
  margin-top: 22px;
  margin-left: 0px;
  width: 1333px;
  height: 50px;
  background: #182838 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  color: #182838;
}

.footer3_message {
  margin-top: 15px;
  margin-left: 580px;
  width: 199px;
  height: 16px;
  opacity: 1;
  color: white;
}
