th {
    background-color: #383737;
    color: white;
    font: normal normal 600 12px/48px Open Sans;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    text-align: center;
    border: 1px solid #EAEDF0;
}

tr {
    height: 4vh;
}

thead>tr>th:first-child {
    border-radius: .5rem 0 0 0;
}

thead>tr>th:last-child {
    border-radius: 0 .5rem 0 0;
}

tbody>tr:nth-child(2n+2) {
    background-color: #FAFAFA;
}